form {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bd09b7, #6b4cf5);
    color: #ffff;
    box-shadow: 5px 5px 20px black;
}

.row {
    display: grid;
    margin-bottom: 10px;
}

.row > input {
    padding: 7px;
}

select {
    padding: 7px;
}

button {
    padding: 5px 15px;
    left: 50%;
}

.btn {
    display: flex;
    justify-content: end;
}

@media(min-width: 500px){
    form {
        width: 100%;
    }
}

@media(min-width: 1200px){
    form {
        width: 300px;
    }
}